<div class="row">
  <h3>Educación</h3>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <table>
      <tbody>
        <tr>
          <td>{{educacion.escuela}}</td>
          <td>{{educacion.titulo}}</td>
          <td>{{educacion.descripcion}}</td>
          <td>{{educacion.fecha}}</td>
          <td>
            <i class="fa-solid fa-pen-to-square"></i>
          </td>
          <td>
            <i class="fa-solid fa-trash text-danger"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


