<div class="row">
  <h2>Educación</h2>
  <div class="col-lg-2">
    <button
      type="button"
      class="btn btn-warning"
      routerLink="/nuevaedu"
      *ngIf="isLogged"
    >
      Agregar Educación
    </button>
  </div>
  <div class="col lg 1"></div>
  <div class="col-lg-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let Educacion of educacion">
          <td>
            <h4>{{ Educacion.nombreE }}</h4>
          </td>
          <td>{{ Educacion.descripcionE }}</td>
          <td *ngIf="isLogged">
            <button
              class="btn btn-light"
              routerLink="/editedu/{{Educacion.id}}"
            >
            <i class="bi bi-brush"></i>Editar
            </button>
          </td>
          <td *ngIf="isLogged">
          <button
            class="btn btn-danger"
            (click)="borrar(Educacion.id)"
          >
          <i class="bi bi-eraser"></i>Borrar</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>



