<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Trabajo 1</h1> <h3> años</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae dicta error voluptas aspernatur. Iusto eaque ab hic, odio vitae quasi cumque saepe eum. Totam nisi quas esse sapiente atque magnam</p>
      </li>
    </ul>
    <ul>
      <li>
        <h1>Trabajo 2</h1> <h3> años</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae dicta error voluptas aspernatur. Iusto eaque ab hic, odio vitae quasi cumque saepe eum. Totam nisi quas esse sapiente atque magnam</p>
      </li>
    </ul>
    <ul>
      <li>
        <h1>Trabajo 3</h1> <h3> años</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae dicta error voluptas aspernatur. Iusto eaque ab hic, odio vitae quasi cumque saepe eum. Totam nisi quas esse sapiente atque magnam</p>
      </li>
    </ul>
  </div>
</div>
