<div class="row">
  <h3>Experiencia Laboral</h3>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <table>
      <tbody>
        <tr>
          <td>{{experiencia.empresa}}</td>
          <td>{{experiencia.puesto}}</td>
          <td>{{experiencia.descripcion}}</td>
          <td>{{experiencia.fecha}}</td>
          <td>
            <i class="fa-solid fa-pen-to-square"></i>
          </td>
          <td>
            <i class="fa-solid fa-trash text-danger"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
