<div class="row">
  <h1>Hard & Soft Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [showUnits]="false"
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../../../assets/html-5.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#00FF00'"
      [innerStrokeColor]="'#98FB98'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [showUnits]="false"
      [percent]="60"
      [radius]="100"
      [imageSrc]="'../../../assets/css.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#00FF00'"
      [innerStrokeColor]="'#98FB98'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [showUnits]="false"
      [percent]="65"
      [radius]="100"
      [imageSrc]="'../../../assets/js.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#00FF00'"
      [innerStrokeColor]="'#98FB98'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [showUnits]="false"
      [percent]="95"
      [radius]="100"
      [imageSrc]="'../../../assets/plan.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#00FF00'"
      [innerStrokeColor]="'#98FB98'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [showUnits]="false"
      [percent]="65"
      [radius]="100"
      [imageSrc]="'../../../assets/esc.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#00FF00'"
      [innerStrokeColor]="'#98FB98'"
      [animation]="true"
      [animationDuration]="300"
      ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [showUnits]="false"
      [percent]="85"
      [radius]="100"
      [imageSrc]="'../../../assets/team.png'"
      [showImage]="true"
      [imageHeight]="90"
      [imageWidth]="90"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#00FF00'"
      [innerStrokeColor]="'#98FB98'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
</div>
